cs-mssql-tipsy-crafter-domain/bin
cs-mssql-tipsy-crafter-domain/obj
cs-mssql-tipsy-crafter-host/bin
cs-mssql-tipsy-crafter-host/obj
cs-mssql-tipsy-crafter-infrastructure/bin
cs-mssql-tipsy-crafter-infrastructure/obj